# Para todos os arquivos e sub-pastas localizados na pasta vendor/
vendor/
# Para arquivos Java compilados
index.js
# Para código C
*.so
# Para todos os arquivos e sub-pastas localizados na pasta bower_components/
bower_components/